{% extends 'authentication/authtemp.html' %}
{% load static %}

{% block content %}
<div class="authpage">
    <div class="authblock">
        {% if not done %}
            <h2>Восстановление пароля</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn">Отправить</button>
            </form>
        {% else %}
            <h2>Письмо отправлено</h2>
            <p>Инструкции по восстановлению отправлены на ваш email.</p>
        {% endif %}
    </div>
    <img src="{% static 'authentication/img/1.jpg'%}" alt="">
</div>
{% endblock %}