{% extends 'account/acctemp.html' %}

{% block content %}
<div class="aboutblock">
    <h1>Персональная информация</h1>
    <form method="post" action="">

        <label>Пол</label>
        <div class="radio-group">
            <label class="radio-label">
                <input type="radio" name="gender" value="female" checked> Женский
            </label>
            <label class="radio-label">
                <input type="radio" name="gender" value="male"> Мужской
            </label>
        </div>
    
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" name="first_name" placeholder="Введите имя">
        </div>
    
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="last_name" placeholder="Введите фамилию">
        </div>
    
        <div class="form-group-full">
            <label for="birthdate">Дата рождения</label>
            <input type="date" id="birthdate" name="birth_date">
        </div>
    
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="tel" id="phone" name="phone" placeholder="88002223535">
        </div>
    
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="example@mail.ru">
        </div>
    
        <div class="form-group-full" style="margin-top:20px;">
            <button class="btn" type="submit">Обновить</button>
        </div>
    </form>

    <h2>Настройки аккаунта</h2>
    <form method="post" action="">
        <div class="form-group">
            <label for="old_password">Старый пароль</label>
            <input type="text" id="old_password" name="old_password" placeholder="Введите старый пароль">
        </div>

        <div class="form-group">
            <label for="new_password">Новый пароль</label>
            <input type="text" id="new_password" name="new_password" placeholder="Введите новый пароль">
        </div>

        <div class="form-group">
            <label for="repeat_password">Повторите пароль</label>
            <input type="text" id="repeat_password" name="repeat_password" placeholder="Повторите пароль">
        </div>
        
        <div class="form-group-full" style="margin-top:20px;">
            <button class="btn" type="submit">Обновить пароль</button>
        </div>
    </form>

    
</div>
{% endblock %}