{% extends 'main/mptemp.html' %}
{% load static %}

{% block content %}
<section class="welcome">
    <div class="welcome__block">
        <h2>СОЗДАЙ ТУР</h2>
        <h1>СВОЕЙ МЕЧТЫ</h1> 
        <h5>На этом сайте есть множество вариантов, благодаря которым твой отпуск <br>
        будет незабываемым. Ознакомься с ними ниже!</h5>
    </div>
</section>
<section class="popular">
    <h3> Популярный выбор этого сезона</h3>
    {% for country in countries %}
        <div class="country">
            <img src="{% static country.image %}" alt="">
            <div class="desc">
                <h3>{{ country.short }}</h3>
                <h1>{{ country.name }}</h1>
                <p>{{ country.description }}</p>
                <a href="{% url 'login'%}" class="btn">Составить тур </a> 
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'login'%}" class="btn">Посмотреть все варианты </a> 

</section>

<footer>
    <div class="socialmedia">     
        <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
        <a href="#"> <i class="fa-brands fa-vk"></i> </a>
        <a href="#"> <i class="fa-brands fa-whatsapp"></i> </a>
        <a href="#"> <i class="fa-brands fa-telegram"></i> </a>
    </div>
    <div class="row">
        <a href="#"> <p>О "ВокругСвета"</p> </a>
        <a href="#"> <p>Контакты</p> </a>
        <a href="#"> <p>Политика конфиденциальности</p> </a>
    </div>
</footer>
{% endblock %}