{% extends 'main/mptemp.html' %}
{% load static %}

{% block content %}
<section class="welcome">
    <div class="welcome__block">
        <h2>СОЗДАЙ ТУР</h2>
        <h1>СВОЕЙ МЕЧТЫ</h1> 
        <h5>На этом сайте есть множество вариантов, благодаря которым твой отпуск <br>
        будет незабываемым. Ознакомься с ними ниже!</h5>
    </div>
</section>
<section class="popular">
    <h3> Популярный выбор этого сезона</h3>

    <div class="country">
        <img src="{% static 'main\img\firstPage\image3.png' %}" alt="">
        <div class="desc">
            <h3>"Манхэттен Средиземноморья"</h3>
            <h1>Испания, Бенидорм</h1>
            <p>Бенидорм — это один из самых популярных курортов Испании, расположенный на побережье Коста-Бланка. Город известен своими широкими песчаными пляжами, кристально чистым морем и яркой ночной жизнью. Бенидорм предлагает множество развлечений: аквапарки, тематические парки и разнообразные рестораны с местной кухней. Прогулки по набережной, посещение смотровых площадок и вечерние шоу сделают ваш отдых незабываемым.</p>
            <a href="{% url 'login'%}" class="btn">Составить тур </a> 
        </div>
    </div>

</section>
{% endblock %}