{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Турфирма "Вокруг Света"</title>
    <link rel="stylesheet" href="{% static 'main\mp.css' %}">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v6.7.2/css/all.css">
</head>

<body>
    <header class="header">
        <div class="header__up">
            <img src="{% static 'main/img/firstPage/logo.png' %}"   alt="" class = "logo" width="210">
            <a href="{% url 'history'%}" class="btn"><i class="fa-solid fa-user"></i>ㅤЛИЧНЫЙ КАБИНЕТ</a>    
        </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="{% url 'main'%}"><i class="fa-solid fa-house"></i>  ГЛАВНАЯ</a></li>
                    <li><a href="#popular"><i class="fa-solid fa-fire"></i>  ПОПУЛЯРНЫЙ ВЫБОР</a></li>
                </ul>
            </nav>
    </header>

    <main class="main">
            {% block content %}
            {% endblock %}
    </main>
</body>
</html>